div.aa{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,200px);
    gap: 60px;
    
    }
    
    
    
    .a{
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    
    
    }
    
    
    
    div.ab{
    
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,200px);
        gap: 60px;
        
        }
    .b{
        width: 100%;
        height: 100%;
        grid-row-start: 1;
        
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left: 20px;
        
        
     }.c{
        width: 100%;
        height: 100%;
        grid-row-start: 1;
        
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 5;
        
        
     }
     .ab img:hover{
        transform: scale(.9);
        
	
	transition: .9s ease;}
     
     
     .ab img:active{
        transform: scale(1.1);
     }
     


     @media (max-width:1024px){



        div.aa{

            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,150px);
            gap: 30px;
            
            }
            
            
            
            .a{
            width: 100%;
            height: 100%;
            grid-row-start: 1;
            
            grid-row-end: 2;
            grid-column-start: 2;
            grid-column-end: 3;
            
            
            }
            
            
            
            div.ab{
            
                display: grid;
                grid-template-columns: repeat(4,150px);
                grid-template-rows: repeat(1,150px);
                gap: 60px;
                
                }
            .b{
                width: 100%;
                height: 100%;
                grid-row-start: 1;
                
                grid-row-end: 2;
                grid-column-start: 1;
                grid-column-end: 3;
                margin-left: 20px;
                
                
             }.c{
                width: 100%;
                height: 100%;
                grid-row-start: 1;
                
                grid-row-end: 2;
                grid-column-start: 3;
                grid-column-end: 5;
                
                
             }



     }


@media (max-width:660px){



    div.aa{

        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,150px);
       
        }
        
        
        
        .a{
        width: 100%;
        height: 100%;
        grid-row-start: 1;
        
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        
        margin-left: 10px;
        margin-right: 10px;
        
        }
        
        
        
        div.ab{
        
            display: grid;
            grid-template-columns: repeat(1,450px);
            grid-template-rows: repeat(2,150px);
            gap: 20px;
            margin: 20pxE;
            }
        .b{
            width: 100%;
            height: 100%;
            grid-row-start: 1;
            
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 2;
            margin-left: 20px;
            
            
         }.c{
            width: 100%;
            height: 100%;
            grid-row-start: 2;
            
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
            
            
         }



 

}





   